{% extends "base_auth.html.twig" %}

{% block body %}
<div class="container">
    <h2 class="title">Ajouter un commentaire</h2>
    <a href="listeIntervention_standariste.php" class="btn btn-secondary mb-3">Retour</a>
    <form action="" method="post">
        <div class="mb-3">
            <label for="commentaire" class="form-label">Votre commentaire :</label>
            <p>{{msg}}</p>
            <textarea class="form-control" id="commentaire" name="commentaire" rows="4" cols="50"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="send">Ajouter commentaire</button>

    </form>
</div>
{% endblock %}
