<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Accord Energie | {% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}

 <!-- <script src="/js/jquery.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery.periodpicker.full.min.js"></script> -->
</body>
</html>