{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Interventions en cours</h1>
    <table>
        <thead>
            <tr>
                <th>ID Intervention</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Commentaires</th>
            </tr>
        </thead>
        <tbody>
            {% for intervention in interventions %}
                <tr>
                    <td>{{ intervention.id_intervention }}</td>
                    <td>{{ intervention.date }}</td>
                    <td>{{ intervention.statut }}</td>
                    <td>
                        <ul>
                            {% for commentaire in intervention.commentaires %}
                                <li>{{ commentaire.infos }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
