{% extends "base_auth.html.twig" %}

{% block body %}

<div class="login-container">
    <div class="login-box">
        <h1>Connexion</h1>

        {% if msg %}
            <div class="message">{{msg}}</div>
        {% endif %}

        <form action="" method="post">

            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" placeholder="Entrez votre mail" required="required">
            </div>

            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe" required="required">
            </div>

            <div class="form-group">
                <input type="submit" value="Se connecter" name="send">
            </div>
   
        </form>

        <p><a href="register.php" class="register-link">Pas encore de compte ?</a></p>
    </div>
</div>

{% endblock %}
