<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mes interventions </title>
    <link rel="stylesheet" href="../css/styles.css">
    
</head>
<body>
<div class="container">
    <h2>Mes interventions</h2>

    <table class="interventions-table">
        <thead>
            <tr>
                <th class="id-intervention">Mes Interventions</th>
                <th class="statut-intervention">Statut de mon intervention</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id_intervention }}</td>
                <td>{{ intervention.nom_statut }}</td>
               <td><a href="addCommentaire.php?id={{ intervention.id_intervention }}"><img src="../img/commentaire.png" alt="Ajouter un commentaire" style="width: 24px; height: 24px;" ></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
