{% extends "base_auth.html.twig" %}

{% block body %}

<form action="" method="post">
    <h2>Informations sur le client :</h2>

    <!-- Nom du client -->
    <div>
        <label for="nom">Nom du client : </label>
        <input type="text" 
               name="nom" 
               id="nom" 
               required="required">
    </div>

    <!-- Prenom client -->
    <div>
        <label for="prenom">Prenom du client : </label>
        <input type="text" 
               name="prenom" 
               id="prenom" 
               required="required">
    </div>

    <!-- Email -->
    <div>
        <label for="email">Email : </label>
        <input type="email" 
               name="email" 
               id="email" 
               placeholder="exemple@gmail.com" 
               required="required">
    </div>
    
    <!-- Adresse -->
    <div>
        <label for="adresse">Adresse : </label>
        <input type="text" 
               name="adresse" 
               id="adresse" 
               placeholder="10 rue du chameau" 
               required="required">
    </div>

    <!-- Tel -->
    <div>
        <label for="tel">Tel : </label>
        <input type="tel" 
               name="tel" 
               id="tel" 
               required="required">
    </div>

    <h2>Informations sur l'intervention : </h2>

    <!-- Description -->
    <div>
        <label for="description"> Description : </label>
        <textarea name="description" id="description" cols="30" rows="3"></textarea>
    </div><br>

    <!-- Type d'intervention -->
    <div>
        <label for="typeIntervention">Type d'intervention :</label>
        <select id="typeIntervention" name="typeIntervention">
            <option value="plomberie">plomberie</option>
            <option value="electricite">électricité</option>
            <option value="installation">Installation</option>
            <option value="reparation">Réparation</option>
            <option value="entretient">Entretient</option>
        </select>

    </div><br>

    <!-- Les intervenants -->
    <div>
        <label for="intervenant">Choisir un intervenant :</label>
        <select id="intervenant" name="intervenants[]" multiple>
          {% for intervenant in intervenants %}
                <option value="{{ intervenant.id }}">
                {{ intervenant.prenom }} {{intervenant.nom}}</option>
          {% endfor %}
        </select>

    </div><br>

    {# Choix de la date  #}
    <div>
        <label for="date">Date de  l'intervention : </label>
        <input type="date" name="date" id="date">
    </div><br>

    <!-- Heure de l'intervention -->
    <!-- <div>
        <label for="heure">Heure prévue pour l'intervention : </label>
        <input type="time" name="heure" id="heure">
    </div> -->

    <!-- Commentaires supplémentaires -->
    <div>
        <p>Commentaires supplémentaires : </p>
        <textarea name="commentaires" cols="30" rows="3"></textarea>
    </div><br>

    <!-- Degre d'urgence -->
    <div>
        <label for="degre">Degré d'urgence :</label>
        <select id="degre" name="degre">
            <option value="Critique ">Critique </option>
            <option value="Élevé">Élevé</option>
            <option value="Moyen">Moyen</option>
            <option value="Faible">Faible</option>
            <option value="Très faible">Très faible</option>
        </select>

    </div><br>

    <!-- Statut -->
    <div>
        <label for="statut">Statut :</label>
        <select id="statut" name="statut">
            <option value="En cours">En cours </option>
            <option value="En attente">En attente</option>
            <option value="Terminé">Terminé</option>
            <option value="En retard">En retard</option>
            <option value="Annulé">Annulé</option>
        </select>

    </div><br>

    
    <input type="submit" value="Créer l'intervention" name="send">

</form>

{% endblock %}