{% extends "base_auth.html.twig" %}

{% block body %}
<div class="login-container">
    <div class="login-box">
        <h1 class="title">Bienvenue</h1>
        <p>Bonjour {{ email }}</p>
        <form action="logout.php" method="post">
            <input type="submit" value="Déconnexion" class="logout-button">
        </form>
    </div>
</div>
{% endblock %}
