{% extends "base_auth.html.twig" %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="welcome-container">
    <div class="welcome-content">
        <div class="welcome-box">
            <h1>Bienvenue, {{ email }} !</h1>
            <p>Nous sommes ravis de vous accueillir sur notre plateforme.</p>
        </div>
    </div>
    <div class="welcome-background"></div>
</div>
{% endblock %}
