{% extends "base_auth.html.twig" %}

{% block body %}
<div class="login-container">
    <div class="login-box">
        <h1>Créez votre compte</h1>

        {% if msg %}
            <div class="message">{{msg}}</div>
        {% endif %}

        <form action="" method="post">

            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" placeholder="Entrez votre mail" required="required">
            </div>

            <div class="form-group">
                <label for="email-cfg">Confirmez votre email :</label>
                <input type="email" name="email-cfg" id="email-cfg" placeholder="Confirmez votre mail" required="required">
            </div>

            <div class="form-group">
                <label for="nom">Nom :</label>
                <input type="text" name="nom" id="nom" placeholder="Entrez votre nom" required="required">
            </div>

            <div class="form-group">
                <label for="prenom">Prénom :</label>
                <input type="text" name="prenom" id="prenom" placeholder="Entrez votre prénom" required="required">
            </div>

            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe" required="required">
            </div>

            <div class="form-group">
                <label for="password-cfg">Confirmez votre mot de passe :</label>
                <input type="password" name="password-cfg" id="password-cfg" placeholder="Confirmez votre mot de passe" required="required">
            </div>

            <div class="form-group">
                <input type="submit" value="Créer" name="send">
            </div>
   
        </form>

        <p><a href="index.php" class="register-link">Déjà un compte ?</a></p>
    </div>
</div>
{% endblock %}
